<div class="album-list">
  {{#each}}
  <div class="album">
    <a class="ember-view" href="/album/1">
      <img src="{{artwork}}">
    </a>
    <p class="album-name">{{name}}</p>
    <p class="album-artist">{{artist}}</p>
    <p class="song-count">8 songs
      <span class="explicit">
        {{#if isExplicit}}
        Explicit
        {{/if}}
      </span>    
    </p>
  </div>
  {{/each}}
</div>
